:root{
  --font: 'Varela Round';
}

.hidden-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {display: none;}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200%;
  overflow: hidden;
  font-family: 'Varela Round';
  font-size: 12px;
}
#mainWrapper {
  display: grid;
  grid-template-columns: 100vw 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.5s;
}
#mainWrapper > home {
  height: 96vh;
  margin: 2vh 2vw;
  border: 2px solid rgb(236, 219, 222);
  display: flex;
  flex-flow: column;
  align-items: center;
}
#mainWrapper.slide {transform: translateX(-50%);}

home, #secondPage {
  gap: 30px;
}
#secondPage {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}

/* HOME */

.account-display {
  height: fit-content;
  width: 70%;
  border-radius: 10px;
}
.account-name {
  padding: 1em;
  padding-bottom: 0;
}
.account-balance {
  padding: 1em;
  padding-top: 0;
  font-size: 1.5rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.account-menu {
  width: 85%;
  height: fit-content;
}
.account-menu-upper-wrapper {
  position: relative;
  height: 2em;
}
.account-menu-lower-wrapper{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border-top: 1px solid black;
}
.account-menu-add-button {
  width: 10em;
  padding: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.account-menu-add-button > img{
  height: 1.6em;
  padding: 0.2em;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 6px;
}
.edit-button {
  float: right;
  display: flex;
  align-items: center;
  gap: 5px;
}
.edit-button > img {
  position: relative;
  height: 1.4em;
  object-fit: contain;
}
.currencysign {
  font-size: 0.8em;
  padding-right: 0.1em;
}
#budgetBearIcon > img {
  height: 4rem;
  object-fit: contain;
}


#TransactionInput, .fullscreen-popup {
  width: 60%;
  border-radius: 10px;
  background-color: lightblue;
  padding: 1em;
  box-shadow: 0px 4px 16px black;
}
#TransactionInput > h4 {
  margin-top: 0;
}
#TransactionInput > form {
  display: flex;
  flex-flow: column;
  gap: 2em;
  width: 100%;
}
.transactionField {
  display: flex;
  flex-flow: column;
  gap: 0.4em;
}
.transactionField.amount {
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  gap: 1em;
}
.transactionField input {
  font-size: 1.2em;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  font-family: var(--font)
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#transactionAmount {
  width: 40%;
  padding: 0.4em;
  text-align: right;
}
#savingsPercentage {
  width: 2em;
  text-align: center;
}
#savingsContribution {
  width: 5em;
  text-align: center;
}

#savingsOptions {
  align-self: center;
  display: flex;
  height: 3em;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
#savingsOptions > span {
  display: flex;
  align-items: center;
  width: fit-content;
}

#TransactionInput > form > button {
  width: 50%;
  margin-top: 1em;
  align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}
input::-webkit-input-placeholder { text-align:right; }
input::placeholder { text-align: right; }

#background-blur-grid, #background-grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100vw 100vw;
  height: 100vh;
  z-index: 2;
}
#background-blur-grid {
  background: linear-gradient(to bottom, #383838c0, #a895a88c) !important;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 2;
}
#background-blur-single {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}
.fullscreen-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur {
  opacity: 0.7 !important;
}


#TransactionList {
  display: flex;
  flex-flow: column;
  width: 85%;
  flex-grow: 1;
  overflow: hidden;
}
#TransactionList-upper-wrapper{
  position: relative;
  line-height: 2.5em;
  padding-top: 4em;
}
#TransactionList-lower-wrapper {
  border-top: 2px solid black;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 3em;
}
#TransactionList-upper-wrapper.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 10px;
  padding-top: 3em;
}
#TransactionList-upper-wrapper.edit > * {
  text-align: center;
  padding: 0.2em 0.5em;
  line-height: 1.2em;
  min-width: 1em;
  border: 1px solid black;
  border-radius: 6px;
}
#TransactionList-upper-wrapper.edit > img {
  border: 0;
  height: 1.5em;
  min-width: 1.5em;
}

.Transaction {
  display: flex;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: antiquewhite;
}
.Transaction-name {
  display: inline-block;
  width: 50%;
  background-color: rgba(255, 0, 0, 0.274);
}
.Transaction-amount {
  display: inline-block;
  width: 50%;
  font-size: 1.3em;
  text-align: right;
  background-color: rgba(43, 255, 0, 0.267);
}