:root{
  --font: 'Varela Round';
  --savings-color: #ff1eb4;
  font-size: 15px;
}

.hidden-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {display: none;}

.hidden {
  visibility: hidden;
}
.no-pointer-events {
  opacity: 0.3;
  pointer-events: none;
}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Varela Round';
}
#root {height: 100%;}
main {display: flex; flex-flow: column; height: 100%;}
#footer {
  margin-top: auto;
  height: fit-content;
  background-color: pink;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-around;
}
.footerButton {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
}
.footerButton > img {
  height: 1.5rem;
  object-fit: contain;
  padding: 0.5rem 0.5rem;
  padding-bottom: 0.2rem;
}
.footerButton > div {
  padding: 0.5rem 0.5rem;
  padding-top: 0;
}

#homepage {
  position: relative;
  width: 200%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100vw 100vw;
  overflow: hidden;
  transition: transform 0.5s;
}
#budgetpage {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100vw;
  overflow: hidden;
  transition: transform 0.5s;
}
#homepage > home {
  margin: 2% 2%;
  padding-top: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#homepage.slide {transform: translateX(-50%);}

home {
  gap: 20px;
}
#header {
  position: absolute;
  top: 0;
  left: 50%;
}
#backButton {
  height: 1.5rem;
  padding: 0.5rem;
}
#backButton {
  height: 1.5rem;
  transition: opacity 1s;
}
#backButton:active {
  transform: scale(0.8);
}