@import './variables.css';

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
.hidden-scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {display: none;}

.hidden {
  visibility: hidden;
}
.no-pointer-events {
  opacity: 0.3;
  pointer-events: none;
}
.no-touch-events {
  touch-action: none !important;
}

/*INPUTS*/
input, button
{font-family: var(--font);}

button {font-size: 0.9rem;}
select {font-size: 0.88rem;}

input
{
  background-color: transparent;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid grey;
}

.moneyInput {
  width: 4rem;
  text-align: right;
}
.moneyInput::-webkit-input-placeholder { text-align: right; }
.moneyInput::placeholder { text-align: right; }

.editModeCheckbox {
  width: 1rem;
  height: 1rem;
  accent-color: var(--checkbox-accent-color);
  margin: 0;
}

/*clean slate*/
input:focus, select:focus, textarea:focus, button:focus {outline: none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}

/*Custom inputs*/
.TagChooser > *,
.BudgetHeader-options
{cursor: pointer;}

.tag.selected 
{box-shadow: inset 0 0 0 1.5px black;}

.BudgetHeader-options.selected 
{box-shadow: inset 0 0 0 2px black;}

.Toggle {
  position: relative;
  display: inline-block;
  width: calc(var(--toggle-switch-height) * 2);
  height: var(--toggle-switch-height);
  border-radius: calc(var(--toggle-switch-height) / 2);
}
  .Toggle > input[type="checkbox"] {
    opacity: 0; width: 0; height: 0;
  }
  .Toggle-slider {
    position: absolute; cursor: pointer;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: #ccc;
    border-radius: calc(var(--toggle-switch-height) / 2);
    transition: .4s;
      
  }
  .Toggle-slider:before {
    position: absolute;
    content: "";
    height: calc(var(--toggle-switch-height) * 0.6);
    width: calc(var(--toggle-switch-height) * 0.6);
    margin: calc(var(--toggle-switch-height) * 0.2);
    background-color: rgb(58, 56, 56);
    border-radius: 50%;
    transition: .4s;
  }
  input:checked + .Toggle-slider {
    background-color: var(--toggle-on-color, --savings-color-mid);
  }
  input:checked + .Toggle-slider:before {
    transform: translateX(var(--toggle-switch-height));
  }


body {
  position: fixed;
  margin: 0; padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: var(--font);
}
#root {
  position: relative;
  display: flex; 
  flex-flow: column; 
  height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex; 
  justify-content: space-around;
  background-color: var(--footer-color)
}
  .footerButton {
    display: flex; flex-flow: column;
    justify-content: center;
    gap: 0.1rem;
    font-size: 0.8rem;
  }
  .footerButton > img {
    padding-top: 0.2rem;
    height: 1.4rem;
    object-fit: contain;
  }

.page-multi {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  display: grid; grid-template-columns: 100vw 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
.page-multi.swipe-scroll {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}
.page-single {
  position: relative;
  box-sizing: border-box;
  padding: 2% 2%;
  height: calc(100vh - var(--footer-height));
  display: flex; flex-flow: column;
  gap: 1.2rem;
}
.page-multi.swipe-scroll > .page-single {
  scroll-snap-align: center; 
}
#Homepage > .page-single {
  align-items: center;
}
.page-header {
  position: relative;
  width: 100%;
  padding-top: 1.2rem;
  padding-left: 1rem;
  height: 1.8rem;
  font-size: 1.22rem;
  font-weight: bold;
}
.page-header-empty {
  position: relative;
  width: 100%;
  height: 1.8rem;
}
#Homepage .page-header {
  padding-left: 2rem;
}
#backButton {
  align-self: flex-start;
  height: 1.5rem;
  transition: transform 1s;
  z-index: 3;
}