#TransactionInput, .fullscreen-popup {
  width: 70%;
  border-radius: 10px;
  background-color: lightblue;
  padding: 1rem;
  box-shadow: 0px 4px 16px black;
  font-size: 0.9rem;
}
#TransactionInput > h3,
.fullscreen-popup > h3 {
  margin-top: 0;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.4rem;
}
#TransactionInput > form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  width: 100%;
}
.transactionField {
  display: flex;
  flex-flow: column;
  gap: 0.4rem;
}
.transactionFieldWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.transactionField.spaced {
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
}
.transactionField input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  font-family: var(--font);
  font-size: 1rem;
  text-align: right;
}
#transactionName {text-align: left;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#transactionAmount, #savingsContribution {
  width: 5rem;
  padding: 0.2rem;
}

#savingsPercentage {
  width: 2rem;
  text-align: center;
}

.transactionInput > div {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 2rem;
}
.savingsOption {
  margin: 0.4rem 0;
  display: flex;
  justify-content: space-between;

}
.savingsOption input {margin-right: 0.5rem;}

.popup-button {
  min-width: 40%;
  margin-top: 0.8rem;
  align-self: center;
  font-family: var(--font);
  font-size: 0.9rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}
input::-webkit-input-placeholder { text-align:right; }
input::placeholder { text-align: right; }

#background-blur-grid, #background-grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100vw 100vw;
  height: 100vh;
  z-index: 2;
}
#background-blur-grid {
  background: linear-gradient(to bottom, #383838c0, #a895a88c) !important;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 2;
}
#background-blur-single {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}
.fullscreen-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur {
  opacity: 0.8 !important;
}

#edit-popup {
  width: 95%;
}
#Editable-Transaction {
  padding-right: 0.5rem;
}
#Editable-Transaction input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  font-family: var(--font);
  font-size: 0.9rem;
  text-align: right;
  min-width: none;
  width: 70%;
}
#Editable-Transaction-name {
  width: 100% !important;
  text-align: left !important;
}
#Editable-Transaction-savings {
  color: var(--savings-color);
}
.depositType {
  font-size: 0.98em;
  padding-top: 0.5rem;
  padding-bottom: 1.2rem;
}