#Savingspage-main {
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;
    gap: 0;
}
#Savingspage-main > * {
    flex-shrink: 0;
}
#Savingspage-main > .page-header {
    height: 1.5rem
}
#Goal-scroller-wrapper {
    display: flex; flex-flow: column;
    margin-bottom: 1.5rem;
    height: 26rem;
    max-height: 26rem;
    transition: max-height 0.4s;
}
    #Goal-scroller-wrapper > .account-display {
        margin-top: auto;
        
    }
    #Goal-scroller-header {
        width: 98%;
        display: flex; align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        height: 2.5rem;
    }
        #Goal-scroller-header > * {
            display: flex; align-items: center;
        }
        #Goal-sort-button {
            font-size: 0.9rem;
            gap: 0.2rem;
            box-sizing: border-box;
        }
        #Goal-sort-button > img {
            height: 1.6rem;
            object-fit: contain;
        }
        .Goal-scroller-header-button {
            display: flex; gap: 0.3rem;
            font-size: 0.82rem;
            border: 1px solid black;
            padding: 0.2rem 0.4rem;
            height: fit-content;
        }
        .Goal-scroller-header-button > img {
            height: 0.9rem;
        }

        
    #Goal-scroller-inner-wrapper {
        height: 100%;
        max-height: 0;
        overflow: hidden;
        height: var(--goal-scroller-height);
        transition: max-height 0.4s;
    }

    #Goal-scroller-inner-wrapper.display {
        max-height: var(--goal-scroller-height);
    }
    #Goal-scroller-inner-wrapper.sorter {
        max-height: var(--goal-sorter-height);
    }
    #Goal-scroller-inner-wrapper.sorter,
    #Goal-scroller-inner-wrapper.to-display {
        overflow: hidden;
        height: var(--goal-sorter-height);
    }


    #Goal-scroller-wrapper.sorter {
        max-height: calc(100% - var(--footer-height) - 1rem);
    }
    #Goal-scroller-wrapper.sorter,
    #Goal-scroller-wrapper.to-display {
        height: calc(100% - var(--footer-height) - 1rem);
    }


#Goal-scroller {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    display: flex; align-items: center;
    gap: var(--goal-scroller-gap);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: var(--savings-color-light);
}

#Goal-scroller > * {
    flex: none;
    scroll-snap-align: center; 
    height: var(--goal-height);
    width: var(--goal-width);
}

.Goal-buffer {
    width: calc(50% - (var(--goal-width)/2) - var(--goal-scroller-gap)) !important;
}
#Goal-scroller .AddButton {
    justify-content: center;
}

/*Sorter version*/
#Goal-sorter-wrapper {
    position: relative;
    display: flex; flex-flow: column;
    height: 100%;
    background-color: var(--savings-color-light);
    overflow: hidden;
    font-size: 0.8rem !important;
}
#Goal-sorter-slot-wrapper {
    display: flex;
    justify-content: center; align-items: center;
    flex-basis: calc(1.5 * var(--goal-height));
    flex-shrink: 0;
    font-size: inherit;
}
    #Goal-sorter-slot{
        height: var(--goal-height);
        width: var(--goal-width);
        border: 2px dashed black;
        border-radius: 10%;
    }

#Goal-sorter {
    position: relative;
    box-sizing: content-box;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex; align-items: center;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
}
    #Goal-sorter > * {
        flex-shrink: 0;
        box-sizing: border-box;
        transition: 
        transform 0.3s, 
        width 0.3s;
    }
    #Goal-sorter-wrapper .Goal {   
        scroll-snap-align: center; 
        height: var(--goal-height);
        width: var(--goal-width);
        font-size: inherit;
    }
    #Goal-sorter-wrapper .Goal:active {   
        filter: brightness(0.85);
    }
    .Goal-placeholder {width: var(--goal-width);}

    .Goal-sorter-spacer {
        height: var(--goal-height) !important;
        width: var(--goal-sorter-spacer-size);
        flex-grow: 1;
        height: 100%;
        z-index: 10;
    }
.shift-right {transform: translateX(calc(-0.5 * var(--goal-height)))}
.shift-left {transform: translateX(calc(-0.5 * var(--goal-height)))}
.shrink {
    flex-grow: 0;
    width: 0 !important;
}
.spacer-hover {
    transform: translateX(calc(-0.5 * var(--goal-height)));
    width: calc(var(--goal-width));
}

.Goal {
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 1px 3px black;
    background-color: aliceblue;
    display: flex; flex-flow: column; gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.Goal > * {
    pointer-events: none;
}

.Goal-name {
    font-weight: bold;
}
.Goal-lower-wrapper {
    display: flex; flex-flow: column; gap: 0.5rem;
    margin-top: auto;
    width: 90%;
    align-self: center;
}
    .Goal-money {
        display: flex; align-items: baseline;
        gap: 1rem;
    }
        .Goal-balance {
            opacity: 0.8;
        }
        .Goal-target {
            margin-left: auto;
            font-size: 1.4em;
        }

    .Goal-progressbar {
        border: 1px solid black;
        height: 0.4em;
        margin-bottom: 1em;
    }
    .Goal-progressbar-inner {
        background-color: var(--savings-color-dark);
        height: 100%;
        width: 0%;
        /*Width to be changed dynamically*/
    }

    

#Goals-account-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex; flex-flow: column;
    align-items: center;
    gap: 1rem;
}
/*Savings AccountDisplay here*/

#GoalInfo {
    display: flex; flex-flow: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    font-size: 0.95rem;
}

#PaymentPlan-outer-wrapper {
    width: 100%;
    min-height: 2rem;
    max-height: 2rem;
    transition: max-height 0.6s;
}
#PaymentPlan-inner-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
}
#PaymentPlan-outer-wrapper.active,
#PaymentPlan-inner-wrapper.active {
    max-height: 20rem;
}

#PaymentPlan-toggle-wrapper {
    position: absolute;
    height: 2rem;
    font-size: 0.85rem;
    display: flex; align-items: center;
    gap: 0.3rem;
    z-index: 2;
}
    .PaymentPlan-viewSummary-wrapper {
        float: right;
        width: fit-content;
        box-sizing: border-box;
        height: 2rem;
        padding: 0.5rem;
        background-color: var(--savings-color-light);
        border-top-left-radius: 10px;
        border-top-right-radius: 6px;
    }
    .PaymentPlan-viewSummary-wrapper .borderless-button {
        font-size: 0.85rem !important;
    }
    .PaymentPlan-viewSummary-wrapper img {
        height: 1.2rem !important;
    }
    .PaymentPlan {
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        display: flex; flex-flow: column; 
        gap: 0.5rem;
        background-color: var(--savings-color-light);
    }
        .PaymentPlan-payment {
            display: flex; align-items: baseline;
            gap: 0.4rem;
            margin: 0.5rem 0;
        }
            .PaymentPlan-payment-value {
                font-size: 1rem;
            }
        .PaymentPlan-chain {
            position: relative;
            height: 3rem;
            border: 1px solid black;
            display: flex; align-items: center;
            overflow: hidden;
        }
            .PaymentPlan-chain-startingBalance {
                display: inline-block;
                height: var(--chain-height);
            }
            .PaymentPlan-chain-currentBalance {
                position: absolute;
                display: inline-block;
                height: var(--chain-height);
                background-color: var(--savings-color-dark);
            }
            .PaymentPlan-chain-remainder {
                height: 0.1rem;
                flex-grow: 1;
                background-color: rgb(94, 94, 94);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                .PaymentPlan-chain-node-wrapper {
                    overflow: visible;
                    height: 0; width: 0;
                }
                
                .PaymentPlan-chain-node {
                    height: var(--chain-node-size);
                    width: var(--chain-node-size);
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: 0.5px solid black;
                    transform: translate(-50%, -50%);
                }
                .PaymentPlan-chain-node.paid {
                    background-color: var(--savings-color-dark);
                    border: none;
                }
        .PaymentPlan-numberOfPayments {
            text-align: right;
            font-size: 0.85rem;
        }

#Goal-date-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#Goal-notes-wrapper {
    width: 96%;
}
    #Goal-notes {
        display: block;
        box-sizing: border-box;
        overflow-y: auto;
        margin-top: 0.4rem;
        height: 16rem;
        border: 1px solid black;
        border-radius: 4px;

        padding: 0.8rem;
        font-family: var(--font);
    }
    #Goal-notes:focus {
    outline-color: var(--savings-color-dark);
    }
    #Goal-notes-footer {
    display: flex; align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    height: 1.5rem;
    padding: 0.5rem 0;
    margin-bottom: 4rem;
}
        
#Savingspage-timeline {
    gap: 0.4rem;
} 
#Timeline-calendar-wrapper {
    position: relative;
    display: flex; flex-flow: column;
    height: calc(100% - 4.5rem);
}
#Timeline-date-scroller-wrapper {
    height: var(--timeline-date-row-height);
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    display: flex; gap: 0;
    background-color: rgb(186, 243, 224);
}
    #Timeline-date-scroller-spacer {
        width: var(--timeline-goal-width);
        flex-shrink: 0;
    }
    #Timeline-date-scroller {
        overflow: hidden;
        display: grid;
        grid-template-columns: 
            var(--timeline-first-date-column-width)
            repeat(var(--timeline-columns), var(--timeline-column-width)) 1fr;
        gap: var(--timeline-column-gap);
    }
        .Timeline-date {
            text-align: center;
            text-wrap: nowrap;
            font-size: 0.88rem;
            transform: translate(-50%, 1.5rem);
        }
        .Timeline-date-year {
            position: absolute;
            text-wrap: nowrap;
            font-size: 0.95rem;
            font-weight: 600;
            transform: translate(50%, -2.4rem);
        }

#Timeline-calendar {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    border-top: 2px solid black;
    overflow: hidden;
}

.Timeline-calendar-container {
    position: relative;
    display: flex; flex-flow: column;
    gap: var(--timeline-row-gap);
    overflow: auto;
}
    #Timeline-goals-wrapper.Timeline-calendar-container {
        width: var(--timeline-goal-width);
        flex-shrink: 0;
        box-sizing: border-box;
        border-right: 2px solid black;
    }
    #Timeline-rows-wrapper.Timeline-calendar-container {
        height: 100%;
        width: fit-content;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        overscroll-behavior: none
    }
        .Timeline-rows-item {
            box-sizing: border-box;
            height: var(--timeline-row-height);
        }
        .Timeline-rows-item.goal {
            position: relative;
            flex-shrink: 0;
            display: flex; flex-flow: column;
            background-color: var(--savings-color-light);
            padding: 0.5rem;
        }
            .Timeline-rows-item.goal-name {
                font-size: 0.9rem;
                font-weight: bold;
                text-overflow: ellipsis;
                height: 2.2rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                -webkit-line-clamp: 2;
            }
            .Timeline-rows-item.goal-payments {
                font-size: 0.8rem;
                height: 1rem;
                margin-top: auto;
                color: var(--savings-color-dark);
            }
            .Timeline-rows-item.goal-amount {
                align-self: flex-end;
                margin-top: auto;
                height: fit-content;
                font-size: 1rem;
                font-weight: normal;
            }

    #Timeline-calendar-container-inner {
        position: relative;
        height: fit-content;
        display: grid;
        gap: var(--timeline-row-gap);
    }
        .TimelineRow {
            display: grid;
            grid-template-columns: 
            repeat(var(--timeline-columns), var(--timeline-column-width)) 1fr;
            gap: var(--timeline-column-gap); 
        }
            .TimelineRow-calendar-space {
                background-color: rgb(223, 221, 220);
                margin: auto 0;
                height: 0.5rem;
            }
                .TimelineRow-calendar-space.filled {
                    background-color: var(--savings-color-mid);
                }
            .TimelineRow-due-date {
                position: relative;
                margin: auto 0;
                width: 1rem;
                height: 1rem;
                background-color: red;
                transform: translateX(-50%);
            }
                .TimelineRow-due-date-info {
                    position: absolute;
                    top: 1.5rem; right: 0rem;
                    height: 1.5rem;
                    width: 6rem;
                    font-size: 0.9rem;
                    line-height: 1.6rem;
                    padding: 0.3rem;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 0.6rem;
                }


    #Timeline-grid-overlay {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        display: grid;
        grid-template-columns: 
            var(--timeline-first-date-column-width)
            repeat(var(--timeline-columns), var(--timeline-column-width)) 1fr;
        pointer-events: none; /* Allows clicks to pass through */
    }
        .Timeline-gridline {
            width: 1px;
            height: 100%;
            background-color: rgb(150, 150, 150);
        }