#Savingspage-main {
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;
}
#Savingspage-main > * {
    flex-shrink: 0;
}

#Goals-scroller {
    background-color: var(--savings-color-light);
    height: 14rem;
    display: flex; align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: var(--goal-scroller-gap);
}
#Goals-scroller > * {
    flex: none;
    height: var(--goal-height);
    width: var(--goal-width);
    scroll-snap-align: center; 
}
.Goal-buffer {
    width: calc(50% - (var(--goal-width)/2) - var(--goal-scroller-gap)) !important;
}

#Goals-scroller .AddButton {
    justify-content: center;
}



.Goal {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 1px 3px black;
    background-color: aliceblue;
    display: flex; flex-flow: column; gap: 0.5rem;
    padding: 0.5rem;
}

.Goal-name {
    font-weight: bold;
}
.Goal-lower-wrapper {
    display: flex; flex-flow: column; gap: 0.5rem;
    margin-top: auto;
    width: 90%;
    align-self: center;
}
    .Goal-money {
        display: flex; align-items: baseline;
        gap: 1rem;
    }
        .Goal-balance {
            opacity: 0.8;
        }
        .Goal-target {
            margin-left: auto;
            font-size: 1.4rem;
        }

    .Goal-progressbar {
        border: 1px solid black;
        height: 0.4rem;
        margin-bottom: 1rem;
    }
    .Goal-progressbar-inner {
        background-color: var(--savings-color-dark);
        height: 100%;
        width: 0%;
        /*Width to be changed dynamically*/
    }


.PaymentPlan {
    padding: 0.5rem;
    display: flex; flex-flow: column; 
    gap: 0.5rem;
}
.PaymentPlan-chain {
    position: relative;
    height: 3rem;
    margin-top: 1.5rem;
    border: 1px solid black;
    display: flex; align-items: center;
    overflow: hidden;
}
    .PaymentPlan-chain-startingBalance {
        display: inline-block;
        height: var(--chain-height);
    }
    .PaymentPlan-chain-currentBalance {
        position: absolute;
        display: inline-block;
        height: var(--chain-height);
        background-color: var(--savings-color-dark);
    }
    .PaymentPlan-chain-remainder {
        height: 0.1rem;
        flex-grow: 1;
        background-color: rgb(94, 94, 94);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .PaymentPlan-chain-node-wrapper {
            overflow: visible;
            height: 0; width: 0;
        }
        
        .PaymentPlan-chain-node {
            height: var(--chain-node-size);
            width: var(--chain-node-size);
            border-radius: 50%;
            box-sizing: border-box;
            border: 0.5px solid black;
            transform: translate(-50%, -50%);
        }
        .PaymentPlan-chain-node.paid {
            background-color: var(--savings-color-dark);
            border: none;
        }
.PaymentPlan-numberOfPayments {
    text-align: right;
    font-size: 0.9em;
}
