
#Settings-page {
    display: flex; flex-flow: column;
    align-items: center; gap: 0;
}

#Settings-header {
    display: flex; align-items: flex-end;
    height: var(--settings-header-height);
    width: 90%;

    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}
    #Settings-header-buttons {
        margin-left: auto;
        font-size: 0.85rem;
        font-weight: normal;
        height: 1.5rem;
    }
     #Settings-header-buttons > * {
        margin-left: 1rem;
        padding: 0.3rem 0.5rem;
        border: 1px solid black;
        border-radius: 6px;
    }
#Settings-wrapper {
    width: 90%;
    padding-top: 1rem;
    height: calc(100% - var(--settings-header-height));
    display: flex; flex-flow: column;
}

.Settings-field {
    min-height: 4rem;
    padding: 0.8rem 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(175, 175, 175);
    background-color: rgb(233, 233, 233);
    display: flex;
}
.Settings-field > * {
    display: flex; flex-flow: column;
    justify-content: center;
}
    .Settings-field-label {
        width: 60%;
        font-size: 0.96rem;
        padding-right: 1rem;
    }
        .Settings-field-label-subtext {
            margin-top: 0.5rem;
            font-size: 0.85rem;
            color: rgb(70, 70, 70);
        }
    .Settings-field-input {
        flex-grow: 1;
        display: flex; flex-flow: column;
        gap: 0.8rem;
    }

.DateInput {
    display: flex; gap: 0.5rem;
    justify-content: flex-end;
    height: 1.8rem;
}

.DateInput-day {width: 2rem;}
.DateInput-month {width: 3.2rem;}
.DateInput-year {width: 4rem;}


#download-wrapper {
    display: flex; flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
    height: 100%;
}
.download-button {
    width: fit-content;
    font-size: 0.9rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 4px;
}
#overwrite-db {
    color: red;
    border: 1px solid maroon;
    border-radius: 4px;
    padding: 0.2rem;
}